doctype html
html
    head
        title= "all community"
        link(href='http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css', rel='stylesheet')
        script(src='http://libs.baidu.com/jquery/1.9.0/jquery.js')
        script(src='http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js')
    body
        .container-fluid
              h3 &nbsp communityList:
              .row-fluid
                .col-md-12
                  table.table.table-hover
                    thead
                      tr
                        th
                          | CommunityId
                        th
                          | ManualCheck
                        th
                          | Label
                        th
                          | Size
                        th
                          | avgDeltaScore
                        th
                          | entropyOfShops
                        th
                          | entropyOfGeoShops
                    tbody
                      each item in info
                          tr
                            td
                                a(href='/community/' + item.id) #{item.id}
                            td #{item.manualCheck}
                            td #{item.label}
                            td #{item.size}
                            td #{item.avgDeltaScores}
                            td #{item.entropyOfShops}
                            td #{item.entropyOfGeoShops}
