doctype html
html
    head
        title= "Community"
        script(src="/js/bower_components/jquery/dist/jquery.min.js")
        script(src="https://code.highcharts.com/highcharts.js")
        script(src="https://code.highcharts.com/modules/exporting.js")
        script(src="/js/community.js")
    body
        each item in info
            h1(align='center') manualCheck: #{item.manualCheck}
                form(action='', method='get')
                    input(type='radio', name='isManualCheck', id='isManualCheck', value='1')
                    |1
                    input(type='radio', name='isManualCheck', id='isManualCheck', value='0')
                    |0
                    -//input(type='text', name='isManualCheck')
                    input(type='submit', name='button', value='submit')
            div
                div(style='float:left;width:50%;height:50px')
                    h4 size: #{item.size}
                div(style='float:left;width:50%;height:50px')
                    h4 firstReviewsperuser: #{item.firstReviewsperuser}
            div
                div(style='float:left;width:50%;height:50px')
                    h4 remark: #{item.remark}
                div(style='float:left;width:50%;height:50px')
                    h4 avgScore: #{item.avgScore}
            div
                div(style='float:left;width:50%;height:50px')
                    h4 varScore: #{item.varScore}
                div(style='float:left;width:50%;height:50px')
                    h4 entropyOfShops: #{item.entropyOfShops}
            div
                div(style='float:left;width:50%;height:50px')
                    h4 entropyOfGeoShops: #{item.entropyOfGeoShops}
                div(style='float:left;width:50%;height:50px')
                    h4 per5StarReview: #{item.per5StarReview}
            div
                div(style='float:left;width:50%;height:50px')
                    h4 per5StartUser: #{item.per5StartUser}
                div(style='float:left;width:50%;height:50px')
                    h4 avgDeltaScores: #{item.avgDeltaScores}
            div
                div(style='float:left;width:50%;height:50px')
                    h4 diameter: #{item.diameter}
                div(style='float:left;width:50%;height:50px')
                    h4 density: #{item.density}
            div
                div(style='float:left;width:50%;height:50px')
                    h4 vertex: #{item.vertex}
                div(style='float:left;width:50%;height:50px')
                    h4 globalcc: #{item.globalcc}
            div
                div(style='float:left;width:100%;height:50px')
                    h4 done: #{item.done}
                
            div
                div(style='float:left;width:50%;height:50px')
                    h3 users
                div(style='float:left;width:50%;height:50px')
                    h3 shops
            - var max = 0
            if max < userList.length
                  - max = userList.length
            if max < shopList.length
                  - max = shopList.length
            - var str = ''

            - for (var i = 0; i < max; ++i){
                div
                    if userList[i]!=null
                        div(style='float:left;width:50%;height:50px')
                            a(href='/users/'+userList[i]) #{userList[i]}
                            |   |***|
                            a(href='https://www.dianping.com/member/' + userList[i] +'/reviews')  #Dianping
                    else
                        div(style='float:left;width:50%;height:50px')
                            p
                    if shopList[i]!=null
                        div(style='float:left;width:50%;height:50px')
                            a(href='https://www.dianping.com/shop/'+ shopList[i][0]) #{shopList[i][0]} , #{shopList[i][1]}
                            |   |***|
                            a(href='/community-shop/' + communityId + '/' + shopList[i][0]) Trend
            - }
        div(style='align:center') trend
        div(id='container',style='height:400px; width:100%;')

    script.
        categories = [#{categories}]
        dataList = [#{dataList}]
