doctype html
html
    head
        title= "User Info"
    body
        table(border='1')
            tr
                th "ShopName"
                th "ShopId"
                th "power"
                th "score1"
                th "score2"
                th "score3"
                th "content"
                th "photo"
                th "date"
                th "filtered"
            each item in reviewsList
                tr
                    td #{item.shopname}

                    td
                       a(href='https://www.dianping.com/shop/'+ item.shopId) #{item.shopId}
                    td #{item.power}
                    td #{item.score1}
                    td #{item.score2}
                    td #{item.score3}
                    td #{item.content}
                    td #{item.photo}
                    td #{item.date}
                    td #{item.filtered}
